# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Electron
out/

# Native builds
ios/
android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# debug logs
npm-debug.*

# environment
.env
.env*.local

# OS
.DS_Store
Thumbs.db
Desktop.ini

# editors
.vscode/
.idea/
*.swp
*.swo
*~
